<html>
    <style>
        p1{
            
            font-size: 40px;
            color: red;
        }
        
            ul.no-bullets {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        p{
           color: skyblue;
           font-size: 20px;
        }
        body{
            background-image: url("C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\icons\helpdesk.jpg");
            padding: 50;
            margin-top: 30;
        }
        a:link {
            text-decoration: none;
         }
        
    </style>
    <head>
        <title>HELP</title>
    </head>
    <body>
        <center><p1>We're here to support you at every step of your journey</p1><br>
        <p1>We're happy to help!</p1></center>
        <br>
        
        <ul class="no-bullets">
            <pre style="font-size: 30px;font-style:Sans-serif;"><b>Account Suport</b></pre>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">How do I reset my password?</a></p>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">I can't verify my email since I don't have access to my email account.</a></p>
            <pre style="font-size: 30px;font-style:Sans-serif;"><b>Login Suport</b></pre>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">I'm unable to login,what can I try?</a></p>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">Why am I getting an error message when trying to activate my account?</a></p>
            <pre style="font-size: 30px;font-style:Sans-serif;"><b>Certification of Completion Support</b></pre>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">How do I view my course completion certificate?</a></p>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">What are the eligibility requirements for a course completion certificete?</a></p>
            <pre style="font-size: 30px;font-style:Sans-serif;"><b>Other</b></pre>
            <p><a href="C:\Users\tejur\OneDrive\Documents\BVRITH\Full Stack\forgetpwd.ejs" target="_blank">Are there recommended browsers for Myvision Academy?</a></p>
        </ul>

    </body>
</html>